server {
    listen 80;
    server_name blog;

    access_log /home/blog/logs/nginx-access.log;
    error_log  /home/blog/logs/nginx-error.log;

    location /static {
        alias /home/blog/static;
    }

    location / {
        proxy_pass http://web:8001;
    }
}
